Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/MetaHumans
Content/StarterContent
Content/Characters
Content/LevelPrototyping
Content/Maps/MainLevel.umap
Content/Maps/MainLevel2.umap
Content/MPKLAsset
Content/Levelwork